/node_modules
/public/hot
/public/storage
/public/js/
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
nginx.conf
php.ini
docker-compose.yml
process_status_log.txt
/dbdata
Vagrantfile
after.sh
aliases
.DS_Store

