#header {
  // padding: 1em;
  border-bottom: 2px solid $gray;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
}

.navbar {
  width: 100%;
}

.navbar-expand-lg {
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}

.navbar-collapse {
  flex-grow: 0;
}

.user {
  &--email {
    font-weight: bold;
  }

  &--initials {
    background: darken($gray, 30%);
    width: 2em;
    height: 2em;
    font-weight: bold;
    display: inline-block;
    padding: 0.25em;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 0.5em;
  }
}
